<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ReciPT </title>
    <!-- Tailwind -->
    <link href="styles/output.css" rel="stylesheet">
    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="icon" type="image/x-icon" href="/recipt_logo.png">
    <style>
        .bouncing-image {
            position: absolute;
            width: 100px;
            /* Adjust as needed */
            height: 100px;
            /* Adjust as needed */
            animation: bounce 10s infinite, rotate 2s infinite linear;
        }

        .hiddenImg {
            display: none;
        }

        @keyframes bounce {
            0% {
                top: 10%;
                left: 20%;
            }

            10% {
                top: 40%;
                left: 70%;
            }

            20% {
                top: 80%;
                left: 50%;
            }

            30% {
                top: 30%;
                left: 10%;
            }

            40% {
                top: 60%;
                left: 90%;
            }

            50% {
                top: 20%;
                left: 40%;
            }

            60% {
                top: 70%;
                left: 30%;
            }

            70% {
                top: 50%;
                left: 80%;
            }

            80% {
                top: 10%;
                left: 60%;
            }

            90% {
                top: 40%;
                left: 20%;
            }

            100% {
                top: 10%;
                left: 20%;
            }
        }

        @keyframes rotate {
            0% {
                transform: scale(1) rotate(0deg);
            }

            20% {
                transform: scale(1.5) rotate(160deg);
            }

            40% {
                transform: scale(0.8) rotate(-160deg);
            }

            60% {
                transform: scale(1.2) rotate(180deg);
            }

            80% {
                transform: scale(0.9) rotate(-180deg);
            }

            100% {
                transform: scale(1) rotate(360deg);
            }
        }
    </style>
</head>

<!-- Fonts and background -->

<body class="font-Poppins bg-opacity-90">
    <%- include("templates/header") %>

    <!-- For the proejct -->
    <div class="p-4 m-4 rounded-lg flex justify-center bg-white shadow-lg" id="aboutUsIntroduceContainer">
        <div>
            <p class="font-semibold text-6xl text-center"> NotSoOpenAI </p>
            <p class="text-4xl text-center text-gray-700 m-2"> DTC-08 </p>
        </div>
    </div>

    <!-- For teammates -->
    <div class="m-10 flex flex-wrap justify-center gap-4 text-center" id="aboutUsTeammatesContainer">
        <!-- Teammate 1: Alice Huang -->
        <div class="p-4 m-4 rounded-full bg-white shadow-lg">
            <div style="display: flex; justify-content: center;">
                <div style="width: 200px; height: 200px; border-radius: 50%; overflow: hidden;">
                    <img src="/alice.jpeg" style="width: 100%; height: 100%; object-fit: cover;">
                </div>
            </div>
            <h3 class="font-bold">Alice Huang</h3>
            <h5> Backend Developer </h5>
            <p class="italic font-thin text-gray-300 p-5"> I hate tailwind</p>
            <div class="p-2" style="display: flex; justify-content: center;">
                <a href="https://github.com/orangeepop" target="_blank">
                    <img src="/github.png" style="width:30px; height: 30px; margin-right: 20px;"></a>
                <a href="https://www.linkedin.com/in/al-huang/" target="_blank">
                    <img src="/linkedin.png" style=" width:30px; height: 30px; margin-left: 20px;"></a>
            </div>
        </div>

        <!-- Teammate 2: Daylen Smith-->
        <div class="p-4 m-4 rounded-full bg-white shadow-lg">
            <div style="display: flex; justify-content: center;">
                <div style="width: 200px; height: 200px; border-radius: 50%; overflow: hidden;">
                    <img src="/daylen.jpg" style="width: 100%; height: 100%; object-fit: cover;">
                </div>
            </div>
            <div>
                <h3 class="font-bold">Daylen Smith</h3>
                <h5> Backend Developer </h5>
                <p class="italic font-thin text-gray-300 p-5"> I like soup </p>
            </div>
            <div class="p-2" style="display: flex; justify-content: center;">
                <a href="https://github.com/rockclimber147" target="_blank"> <img src="/github.png"
                        style="width:30px; height: 30px; margin-right: 20px;"></a>
                <a href="https://www.linkedin.com/in/daylensmith/" target="_blank"> <img src="/linkedin.png" " style="
                        width:30px; height: 30px; margin-left: 20px;"></a>
            </div>
        </div>

        <!-- Teammate 3: Shaun Marco Sy -->
        <div class="p-4 m-4 rounded-full bg-white shadow-lg">
            <div style="display: flex; justify-content: center;">
                <div style="width: 200px; height: 200px; border-radius: 50%; overflow: hidden;">
                    <img src="/shaun.jpg" style="width: 100%; height: 100%; object-fit: cover;">
                </div>
            </div>
            <div>
                <h3 class="font-bold">Shaun Marco Sy</h3>
                <h5> Backend Developer </h5>
                <p class="italic font-thin text-gray-300 p-2"> Potatoes and Carrots <br> are my passion </p>
            </div>
            <div class="p-2" style="display: flex; justify-content: center;">
                <a href="https://github.com/ShaunMLS" target="_blank"> <img src="/github.png"
                        style="width:30px; height: 30px; margin-right: 20px;"></a>
                <a href="https://www.linkedin.com/in/shaunmls/" target="_blank"> <img src="/linkedin.png" " style="
                        width:30px; height: 30px; margin-left: 20px;"></a>
            </div>
        </div>

        <!-- Teammate 4: Inez Yoon -->
        <div class="p-4 m-4 rounded-full bg-white shadow-lg">
            <div style="display: flex; justify-content: center;">
                <div style="width: 200px; height: 200px; border-radius: 50%; overflow: hidden;">
                    <img src="/inez.jpeg" style="width: 100%; height: 100%; object-fit: cover;">
                </div>
            </div>
            <h3 class="font-bold">Inez Yoon</h3>
            <h5> Frontend Developer </h5>
            <p class="italic font-thin text-gray-300 p-2"> If you're reading this <br> stretch your back </p>
            <div class="p-2" style="display: flex; justify-content: center;">
                <a href="https://github.com/Inez-y" target="_blank"> <img src="/github.png"
                        style="width:30px; height: 30px; margin-right: 20px;"></a>
                <a href="https://www.linkedin.com/in/inez-y" target="_blank"> <img src="/linkedin.png" " style="
                        width:30px; height: 30px; margin-left: 20px;"></a>
            </div>
        </div>

        <!-- Teammate 5: Tony Lai -->
        <div class="p-4 m-4 rounded-full bg-white shadow-lg">
            <div style="display: flex; justify-content: center;">
                <div style="width: 200px; height: 200px; border-radius: 50%; overflow: hidden;">
                    <img src="/tony.jpg" style="width: 100%; height: 100%; object-fit: cover;">
                </div>
            </div>
            <h3 class="font-bold">Tony Lai</h3>
            <h5> Frontend Developer </h5>
            <p class="italic font-thin text-gray-300 p-5"> No gain no pain</p>
            <div class="p-2" style="display: flex; justify-content: center;">
                <a href="https://github.com/tonylai2022/" target="_blank"> <img src="/github.png"
                        style="width:30px; height: 30px; margin-right: 20px;"></a>
                <a href="https://www.linkedin.com/in/tony-lai-mingwa/" target="_blank"> <img src="/linkedin.png"
                        style=" width:30px; height: 30px; margin-left: 20px;"></a>
            </div>
        </div>
    </div>
    </div>


    <img id="B" class="hiddenImg" src="/B.jpg" alt="Happy Easter Egg!">
    <img id="Pa" class="hiddenImg" src="/P.jpg" alt="Happy Easter Egg!">
    <img id="C" class="hiddenImg" src="/C.jpg" alt="Happy Easter Egg!">
    <img id="Pb" class="hiddenImg" src="/P.jpg" alt="Happy Easter Egg!">
    <img id="L" class="hiddenImg" src="/L.jpg" alt="Happy Easter Egg!">
    <img id="S" class="hiddenImg" src="/S.jpg" alt="Happy Easter Egg!">
    <script>
        const nameHeaders = document.querySelectorAll('.font-bold');
        const easterEgg = document.getElementById('easterEgg');
        const clickedArray = [0, 0, 0, 0, 0];

        nameHeaders.forEach((div, index) => {
            div.addEventListener('click', () => {
                clickedArray[index] = 1;
                div.classList.add('text-buttongreen');
                checkEasterEggConditions();
            });
        });

        function checkEasterEggConditions() {
            console.log(clickedArray)
            if (clickedArray[0] && clickedArray[1] && clickedArray[2] && clickedArray[3] && clickedArray[4]) {
                console.log('Easter Egg activated!');
                document.querySelectorAll(".hiddenImg").forEach((img, index) => {
                    img.classList.remove('hiddenImg');
                    img.classList.add('bouncing-image');
                    img.style.animationDelay = `${index * 0.5}s`;
                });
            } else {
                console.log('Easter Egg not activated!');
            }
        }
    </script>
    <!-- End of aboutUs.ejs -->
    <%- include("templates/footer") %>