<%- include("templates/htmlDocHeader") %>
    <%- include("templates/header") %>

        <!-- Main box -->
        <div class="m-10 grid grid-cols-2 gap-4 text-center items-center">
            <div class="p-4 m-4 rounded-full bg-white">
                <div style="display: flex; justify-content: center;">
                    <div style="width: 200px; height: 200px; border-radius: 50%; overflow: hidden;">
                        <img src="/alice.jpeg" style="width: 100%; height: 100%; object-fit: cover;">
                    </div>
                </div>
                <h3 class="font-bold">Alice Huang</h3>
                <h5> Backend Developer </h5>
                <p class="italic font-thin text-lightGrey"> You're an idiot sandwitch!</p>
                <div style="display: flex; justify-content: center;">
                    <a href=" https://github.com/orangeepop" target="_blank"> <img src="/github.png"
                            style="width:30px; height: 30px; margin-right: 20px;"></a>
                    <a href="https://www.linkedin.com/in/al-huang/" target="_blank"> <img src="/linkedin.png" style="width:30px; height: 30px; margin-left: 20px;"></a>
                </div>
            </div>
            <div class="p-4 m-4 rounded-full bg-white">
                <div style="display: flex; justify-content: center;">
                    <div style="width: 200px; height: 200px; border-radius: 50%; overflow: hidden;">
                        <img src="/gordonRamsay.jpeg" style="width: 100%; height: 100%; object-fit: cover;">
                    </div>
                </div>
                <h3 class="font-bold">Daylen Smith</h3>
                <h5> Backend Developper </h5>
                <p class="italic font-thin text-lightGrey"> You're an idiot sandwitch!</p>
                <div style="display: flex; justify-content: center;">
                    <a href="https://github.com/rockclimber147" target="_blank"> <img src="/github.png"
                            style="width:30px; height: 30px; margin-right: 20px;"></a>
                    <a href="https://www.linkedin.com/in/daylensmith/" target="_blank"> <img
                            src="/linkedin.png" style=" width:30px; height: 30px; margin-left: 20px;"></a>
                </div>
            </div>
            <div class="p-4 m-4 rounded-full bg-white">
                <div style="display: flex; justify-content: center;">
                    <div style="width: 200px; height: 200px; border-radius: 50%; overflow: hidden;">
                        <img src="/gordonRamsay.jpeg" style="width: 100%; height: 100%; object-fit: cover;">
                    </div>
                </div>
                <h3 class="font-bold">Shaun Marco Sy</h3>
                <h5> Backend Devel0per </h5>
                <p class="italic font-thin text-lightGrey"> You're an idiot sandwitch!</p>
                <div style="display: flex; justify-content: center;">
                    <a href="https://github.com/ShaunMLS" target="_blank"> <img src="/github.png"
                            style="width:30px; height: 30px; margin-right: 20px;"></a>
                    <a href="https://www.linkedin.com/in/shaunmls/" target="_blank"> <img src="/linkedin.png" style="
                            width:30px; height: 30px; margin-left: 20px;"></a>
                </div>
            </div>
            <div class="p-4 m-4 rounded-full bg-white">
                <div style="display: flex; justify-content: center;">
                    <div style="width: 200px; height: 200px; border-radius: 50%; overflow: hidden;">
                        <img src="/inez.jpeg" style="width: 100%; height: 100%; object-fit: cover;">
                    </div>
                </div>
                <h3 class="font-bold">Inez Yoon</h3>
                <h5> Frontend Developer </h5>
                <p class="italic font-thin text-lightGrey"> You're an idiot sandwitch!</p>
                <div style="display: flex; justify-content: center;">
                    <a href="https://github.com/Inez-y" target="_blank"> <img src="/github.png"
                            style="width:30px; height: 30px; margin-right: 20px;"></a>
                    <a href="https://www.linkedin.com/in/inez-y" target="_blank"> <img src="/linkedin.png" style="
                            width:30px; height: 30px; margin-left: 20px;"></a>
                </div>
            </div>
            <div class="p-4 m-4 rounded-full bg-white">
                <div style="display: flex; justify-content: center;">
                    <div style="width: 200px; height: 200px; border-radius: 50%; overflow: hidden;">
                        <img src="/tony.jpg" style="width: 100%; height: 100%; object-fit: cover;">
                    </div>
                </div>
                <h3 class="font-bold">Tony Lai</h3>
                <h5> Frontend Developer </h5>
                <p class="italic font-thin text-lightGrey"> You're an idiot sandwitch!</p>
                <div style="display: flex; justify-content: center;">
                    <a href="https://github.com/tonylai2022/" target="_blank"> <img src="/github.png"
                            style="width:30px; height: 30px; margin-right: 20px;"></a>
                    <a href="https://www.linkedin.com/in/tony-lai-mingwa/" target="_blank"> <img
                            src="/linkedin.png" style=" width:30px; height: 30px; margin-left: 20px;"></a>
                </div>
            </div>
            <!-- <div class="p-4 m-4 rounded-full bg-white">
                <div style="display: flex; justify-content: center;">
                    <div style="width: 200px; height: 200px; border-radius: 50%; overflow: hidden;">
                        <img src="/gordonRamsay.jpeg" style="width: 100%; height: 100%; object-fit: cover;">
                    </div>
                </div>
                <h3 class="font-bold">Gordon Ramsay</h3>
                <h5> Recipe Developper </h5>
                <p class="italic font-thin text-lightGrey"> You're an idiot sandwitch!</p>
                <div style="display: flex; justify-content: center;">
            <img src=" /github.png" href="" style="width:30px; height: 30px; margin-right: 20px;">
                    <img src="/linkedin.png" href="" style="width:30px; height: 30px; margin-left: 20px;">
                </div>
            </div> -->
        </div>

        </div>

        <!-- End of aboutUs.ejs -->
        <%- include("templates/footer") %>