<%- include("templates/htmlDocHeader") %>
<%- include("templates/header") %>

<div class="flex flex-col items-center justify-center p-2 m-4 py-28" style="height: auto;">
    <img src="/brokenFridge.jpeg" alt="Broken Fridge" class="" style="height: auto;">
    <h1 class="mt-4 text-7xl font-bold rounded-lg"> Oops! </h1>
    <p class="mt-2 text-gray-700">There is nothing you're looking for <br> on this page.</p>
    <a href="/"
        class="mt-6 bg-buttongreen hover:bg-gray-500 text-white font-semibold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline"
        id="goHomeButton">
        Go to Home
    </a>
</div>

<!-- End of error.ejs -->
<%- include("templates/footer") %>