<%- include("templates/header") %>

<main class="flex flex-col items-center justify-center h-screen">
    <img src="/brokenFridge.jpeg" alt="Broken Fridge" class="">
    <h1 class="mt-4 text-7xl font-bold"> Oops! </h1>
    <p class="mt-2 text-gray-700">There is nothing you're looking for on this page.</p>
    <a href="/"
        class="mt-6 bg-green-900 hover:bg-gray-500 text-white font-bold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline">
        Go to Home
    </a>
</main>

<%- include("templates/footer") %>