<%- include("templates/htmlDocHeader") %>
<%- include("templates/header") %>

<!-- Forgot container -->
<main class="flex flex-col items-center justify-center h-screen bg-gray-100" style="max-height:85vh;">
    <!-- Password Reset Form Container -->
    <div class="w-full max-w-xs bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <h2 class="block text-gray-700 text-lg font-bold mb-4">Reset Password</h2>
        <!-- Password Reset Form -->
        <form action="/forgot" method="post">
            <!-- Email Field -->
            <div class="mb-4">
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="email" name="email" type="email" placeholder="Email" required>
            </div>
            <!-- Submit Button -->
            <div class="flex items-center justify-center">
                <button
                    class="bg-buttongreen rounded-lg hover:bg-green-700 text-white font-bold py-2 px-4 focus:outline-none focus:shadow-outline"
                    type="submit">
                    Reset Password
                </button>
            </div>
        </form>
    </div>
    <!-- Displays messages from server -->
    <div class="w-full max-w-xs">
        <%- include("templates/message") %>
    </div>
</main>

<!-- End of forgot.ejs -->
<%- include("templates/footer") %>