<script>
    /**
     * Adds an event listener to the textarea to submit the form on Enter key press without shift.
     *
     * @param {Event} e - The event object.
     */
    document.getElementById("query").addEventListener("keypress", e => {
    if (e.key === "Enter" && !e.shiftKey) {
        e.preventDefault();
        if (nonEmptyInput()) {
            e.currentTarget.closest("form").submit();
        }
        // e.currentTarget.closest("form").submit();
    }

    // document.getElementById("submit").addEventListener("click", e => {
    //     if (nonEmptyInput()) {
    //         e.currentTarget.closest("form").submit();
    //     }
    // });

    document.getElementById("query").addEventListener("input", e => {
        const submitButton = document.getElementById("submit");
        if (e.target.value.trim() === "") {
            submitButton.disabled = true;
        } else {
            submitButton.disabled = false;
        }
    });

    function nonEmptyInput() {
        const query = document.getElementById("query").value;
        if (query.trim() === "") {
            document.getElementById("query").value = "";
            document.getElementById("query").focus();
            return false;
        }
        return true;
    }
});
</script>