<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ReciPT </title>
    <!-- Tailwind -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- CSS -->
    <link href="public/output.css" rel="stylesheet">
    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/recipt_logo.png">

</head>
<!-- Code starts here -->

<!-- Body -->

<body class="font-Poppins bg-opacity-90">
    <!-- <body class="font-Poppins" style="background-image: url(public/background1.jpeg); opacity: 70%;"> -->

    <!-- Header -->
    <header class="p-4 m-4 bg-white flex justify-between relative shadow-md rounded-full">
        <div class="flex flex-row justify-center items-center">
            <a href="./" class="flex items-center text-lg font-bold text-white hover:text-white-300 px-3">
                <img src="/recipt_logo.png" alt="ReciPT Logo" class="w-100 h-10">
            </a>
            <div>ReciPT</div>
        </div>
    </header>

    <!-- Main box -->
    <div class="m-10 grid grid-cols-2 gap-4 text-center items-center">
        <div class="p-4 m-4 rounded-full bg-white">
            <div style="display: flex; justify-content: center;">
                <div style="width: 200px; height: 200px; border-radius: 50%; overflow: hidden;">
                    <img src="/public/alice.jpeg" style="width: 100%; height: 100%; object-fit: cover;">
                </div>
            </div>
            <h3 class="font-bold">Alice Huang</h3>
            <h5> Backend Developper </h5>
            <p class="italic font-thin text-lightGrey"> You're an idiot sandwitch!</p>
            <div style="display: flex; justify-content: center;">
                <a href=" https://github.com/orangeepop" target="_blank"> <img src="/public/github.png"
                        style="width:30px; height: 30px; margin-right: 20px;"></a>
                <a href="https://www.linkedin.com/in/al-huang/" target="_blank"> <img
                        src="/public/linkedin.png" " style=" width:30px; height: 30px; margin-left: 20px;"></a>
            </div>
        </div>
        <div class="p-4 m-4 rounded-full bg-white">
            <div style="display: flex; justify-content: center;">
                <div style="width: 200px; height: 200px; border-radius: 50%; overflow: hidden;">
                    <img src="/public/gordonRamsay.jpeg" style="width: 100%; height: 100%; object-fit: cover;">
                </div>
            </div>
            <h3 class="font-bold">Daylen Smith</h3>
            <h5> Backend Developper </h5>
            <p class="italic font-thin text-lightGrey"> You're an idiot sandwitch!</p>
            <div style="display: flex; justify-content: center;">
                <a href="https://github.com/rockclimber147" target="_blank"> <img src="/public/github.png"
                        style="width:30px; height: 30px; margin-right: 20px;"></a>
                <a href="https://www.linkedin.com/in/daylensmith/" target="_blank"> <img
                        src="/public/linkedin.png" " style=" width:30px; height: 30px; margin-left: 20px;"></a>
            </div>
        </div>
        <div class="p-4 m-4 rounded-full bg-white">
            <div style="display: flex; justify-content: center;">
                <div style="width: 200px; height: 200px; border-radius: 50%; overflow: hidden;">
                    <img src="/public/gordonRamsay.jpeg" style="width: 100%; height: 100%; object-fit: cover;">
                </div>
            </div>
            <h3 class="font-bold">Shaun Marco Sy</h3>
            <h5> Backend Developper </h5>
            <p class="italic font-thin text-lightGrey"> You're an idiot sandwitch!</p>
            <div style="display: flex; justify-content: center;">
                <a href="https://github.com/ShaunMLS" target="_blank"> <img src="/public/github.png"
                        style="width:30px; height: 30px; margin-right: 20px;"></a>
                <a href="https://www.linkedin.com/in/shaunmls/" target="_blank"> <img
                        src="/public/linkedin.png" " style=" width:30px; height: 30px; margin-left: 20px;"></a>
            </div>
        </div>
        <div class="p-4 m-4 rounded-full bg-white">
            <div style="display: flex; justify-content: center;">
                <div style="width: 200px; height: 200px; border-radius: 50%; overflow: hidden;">
                    <img src="/public/inez.jpeg" style="width: 100%; height: 100%; object-fit: cover;">
                </div>
            </div>
            <h3 class="font-bold">Inez Yoon</h3>
            <h5> Frontend Developper </h5>
            <p class="italic font-thin text-lightGrey"> You're an idiot sandwitch!</p>
            <div style="display: flex; justify-content: center;">
                <a href="https://github.com/Inez-y" target="_blank"> <img src="/public/github.png"
                        style="width:30px; height: 30px; margin-right: 20px;"></a>
                <a href="https://www.linkedin.com/in/inez-y" target="_blank"> <img src="/public/linkedin.png" " style="
                        width:30px; height: 30px; margin-left: 20px;"></a>
            </div>
        </div>
        <div class="p-4 m-4 rounded-full bg-white">
            <div style="display: flex; justify-content: center;">
                <div style="width: 200px; height: 200px; border-radius: 50%; overflow: hidden;">
                    <img src="/public/tony.jpg" style="width: 100%; height: 100%; object-fit: cover;">
                </div>
            </div>
            <h3 class="font-bold">Tony Lai</h3>
            <h5> Frontend Developper </h5>
            <p class="italic font-thin text-lightGrey"> You're an idiot sandwitch!</p>
            <div style="display: flex; justify-content: center;">
                <a href="https://github.com/tonylai2022/" target="_blank"> <img src="/public/github.png"
                        style="width:30px; height: 30px; margin-right: 20px;"></a>
                <a href="https://www.linkedin.com/in/tony-lai-mingwa/" target="_blank"> <img
                        src="/public/linkedin.png" " style=" width:30px; height: 30px; margin-left: 20px;"></a>
            </div>
        </div>
        <div class="p-4 m-4 rounded-full bg-white">
            <div style="display: flex; justify-content: center;">
                <div style="width: 200px; height: 200px; border-radius: 50%; overflow: hidden;">
                    <img src="/public/gordonRamsay.jpeg" style="width: 100%; height: 100%; object-fit: cover;">
                </div>
            </div>
            <h3 class="font-bold">Gordon Ramsay</h3>
            <h5> Recipe Developper </h5>
            <p class="italic font-thin text-lightGrey"> You're an idiot sandwitch!</p>
            <div style="display: flex; justify-content: center;"">
                <img src="/public/github.png" href="" style="width:30px; height: 30px; margin-right: 20px;">
                <img src="/public/linkedin.png" href="" style="width:30px; height: 30px; margin-left: 20px;">
            </div>
        </div>
    </div>

    </div>


    <!-- Code ends here -->
</body>

</html>