<%- include("templates/htmlDocHeader") %>
<%- include("templates/header") %>


<div class="flex flex-col justify-between relative m-2" style="height: 85vh">
    <!-- Welcomes logged out users -->
    <div class="flex py-4 justify-between">
        <h1 class="text-left text-6xl font-semibold p-2 m-4">ReciPT</h1>
        <div class="text-right flex flex-col justify-end m-4">
            <p class=" text-lightGrey text-sm">
                Have an <br> account? <br>
                <a href="./login">
                    <button class=" text-buttongreen font-bold">Sign in</button>
                </a>
            </p>
        </div>
    </div>

    <!-- Generates welcoming messages to users-->
    <div>
        <p class="text-left text-3xl text-gray-700 p-4 m-4 leading-snug fadeIn" id="flipThePage">
        </p>
    </div>

    <!-- Sign up button -->
    <div class="text-center">
        <a href="./signup" class="flex justify-center w-full">
            <button class="py-2 m-2 w-full bg-buttongreen rounded-full text-lg text-white shadow-lg" id="signUpBtn">
                Sign
                Up
            </button>
        </a>
    </div>

    <!-- Skip and next button -->
    <div class="flex justify-between items-center m-4 px-4 py-4" style="bottom:2vh;width:100%;">
        <a href="./signup" class="align-baseline">
            <button class="text-buttongreen text-sm align-text-bottom" id="skipBtn">Skip</button>
        </a>
        <div class="flex-1 mx-2" id="progressBar"></div>
        <button class="m-4 p-1 bg-buttongreen rounded-full shadow-lg nextBtn" id="nextBtn">
            <span>Next</span>
            <svg viewBox="0 0 320 512" height="1em" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z">
                </path>
            </svg>
        </button>
    </div>
</div>

<script>
    /**
     * Sets the default text content in the element with ID 'flipThePage'.
     */
    function setDefaultTextLine() {
        const flipThePageContents = document.createElement('div');
        flipThePageContents.innerHTML =
            `
            Tired of deciding <br> 
            what to make <br>
            for dinner? <br>
            <br>
            <span class="font-semibold">
            ReciPT <br>
            </span>
            is here to help
        
        `;
        document.getElementById('flipThePage').appendChild(flipThePageContents);
    }

    /**
     * Sets the default progress bar content in the element with ID 'progressBar'.
     */
    function setDefaultProgressBar() {
        const flipThePageProgressBar = document.createElement('div');
        flipThePageProgressBar.classList.add('flex', 'justify-between', 'align-bottom');
        flipThePageProgressBar.innerHTML =
            `
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#779300">
            <path d="M160-446.67v-66.66h640v66.66H160Z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#9A9BB1">
            <path d="M160-446.67v-66.66h640v66.66H160Z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#9A9BB1">
            <path d="M160-446.67v-66.66h640v66.66H160Z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#9A9BB1">
            <path d="M160-446.67v-66.66h640v66.66H160Z" />
        </svg>
        `;
        document.getElementById('progressBar').appendChild(flipThePageProgressBar);
    }

    setDefaultTextLine();
    setDefaultProgressBar();

    let numberOfClicks = 0;
    /**
     * Updates the text and progress bar based on the number of clicks.
     */
    document.getElementById('nextBtn').addEventListener('click', () => {
        numberOfClicks++;
        console.log("Next button clicked " + numberOfClicks + " times.");

        const flipThePageContents = document.createElement('div');
        const flipThePageElement = document.getElementById('flipThePage');
        flipThePageContents.classList.add('fadeIn');

        const flipThePageProgressBar = document.createElement('div');
        const flipThePageProgressElement = document.getElementById('progressBar');
        flipThePageProgressBar.classList.add('flex', 'justify-between', 'align-bottom');

        switch (numberOfClicks) {
            case 1:
                flipThePageContents.innerHTML = `     
                Not sure  <br> 
                what to make <br>
                with the ingredients <br> 
                in your fridge? <br>
                <br>
                <span class="font-semibold">
                ReciPT <br>
                </span>
                is here to help
            `;
                flipThePageProgressBar.innerHTML = `
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#9A9BB1">
            <path d="M160-446.67v-66.66h640v66.66H160Z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#779300">
            <path d="M160-446.67v-66.66h640v66.66H160Z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#9A9BB1">
            <path d="M160-446.67v-66.66h640v66.66H160Z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#9A9BB1">
            <path d="M160-446.67v-66.66h640v66.66H160Z" />
        </svg>
                `;
                break;

            case 2:
                flipThePageContents.innerHTML = `     
                Are you <br>
                bad <br>
                at cooking? <br> 
                <br>
                <span class="font-semibold">
                ReciPT <br>
                </span>
                is here to help
       
            `;
                flipThePageProgressBar.innerHTML = `
                <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#9A9BB1">
            <path d="M160-446.67v-66.66h640v66.66H160Z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#9A9BB1">
            <path d="M160-446.67v-66.66h640v66.66H160Z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#779300">
            <path d="M160-446.67v-66.66h640v66.66H160Z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#9A9BB1">
            <path d="M160-446.67v-66.66h640v66.66H160Z" />
        </svg>
        `;
                break;

            case 3:
                flipThePageContents.innerHTML = `     
                Tired of <br>
                wasting <br>
                precious food? <br>
                <br>
                <span class="font-semibold">
                ReciPT <br>
                </span>
                is here to help
            `;
                flipThePageProgressBar.innerHTML = `
                <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#9A9BB1">
            <path d="M160-446.67v-66.66h640v66.66H160Z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#9A9BB1">
            <path d="M160-446.67v-66.66h640v66.66H160Z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#9A9BB1">
            <path d="M160-446.67v-66.66h640v66.66H160Z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#779300">
            <path d="M160-446.67v-66.66h640v66.66H160Z" />
        </svg>
                `;
                break;

            case 4:
                flipThePageContents.innerHTML = `     
                Are you ready <br>
                to join us? <br>
            `;
                setTimeout(() => {
                    window.location.href = './signup';;
                }, 2000);
                break;
        }

        flipThePageElement.innerHTML = '';
        flipThePageElement.appendChild(flipThePageContents);

        flipThePageProgressElement.innerHTML = '';
        flipThePageProgressElement.appendChild(flipThePageProgressBar);
    });
</script>
<!-- End of landing.ejs -->