<%- include("templates/htmlDocHeader") %>
<%- include("templates/header") %>

<!-- 
*-----------------------------------------*
|   User must sign up to use a chat box   |
*-----------------------------------------* -->

<div class="relative" style="height:85vh">
    <div class="flex justify-between">
        <h1 class="text-left text-6xl py-2 pr-2" style="margin-left:20px;">ReciPT</h1>
        <div class="flex justify-end">
            <p class="text-right text-lightGrey text-sm" style="margin-right:20px;">
                Have an <br> account? <br>
                <a href="./login">
                    <button class="text-right text-buttongreen" id="bt-signIn">Sign in</button>
                </a>
            </p>
        </div>
    </div>

    <div>
        <p class="text-left text-3xl text-gray-700 py-8" id="flipThePage" style="padding:20px; padding-top:100px"></p>
    </div>

    <div class="text-center absolute" style="bottom:7vh; width:100%;" >
        <a href="./signup"><button class="px-10 py-2 m-2 w-full bg-buttongreen rounded-full text-lg text-white shadow-lg" id="signUpBtn" style="max-width:85vw"> Sign
            Up
        </button></a>
    </div>
    
    <div class="flex justify-between items-center absolute" style=" bottom:2vh;width:100%;">
        <a href="./signup" class="align-baseline">
            <button class="text-buttongreen text-sm align-text-bottom" id="skipBtn">Skip</button>
        </a>
        <div class="flex-1 mx-2" id="progressBar"></div>
        <button class="m-1 p-1 bg-buttongreen text-white text-sm rounded-full shadow-lg" id="nextBtn">Next</button>
    </div>
</div>



<script>
    // *--------------------------------------------*
    // |   Set default text line and progress bar   |
    // *--------------------------------------------*

    function setDefaultTextLine() {
        const flipThePageContents = document.createElement('div');
        flipThePageContents.innerHTML =
            `
            Tired of deciding <br> 
            what to make for dinner? <br>
            <br>
            ReciPT is here to help
        
        `;
        document.getElementById('flipThePage').appendChild(flipThePageContents);
    }

    function setDefaultProgressBar() {
        const flipThePageProgressBar = document.createElement('div');
        flipThePageProgressBar.classList.add('flex', 'justify-between', 'align-bottom');
        flipThePageProgressBar.innerHTML =
            `
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#779300">
            <path d="M160-446.67v-66.66h640v66.66H160Z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#9A9BB1">
            <path d="M160-446.67v-66.66h640v66.66H160Z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#9A9BB1">
            <path d="M160-446.67v-66.66h640v66.66H160Z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#9A9BB1">
            <path d="M160-446.67v-66.66h640v66.66H160Z" />
        </svg>
        `;
        document.getElementById('progressBar').appendChild(flipThePageProgressBar);
    }

    setDefaultTextLine();
    setDefaultProgressBar();

    // *---------------------------------------------------------*
    // |   Switch statement for updating text and progress bar   |
    // *---------------------------------------------------------*
    let numberOfClicks = 0;
    document.getElementById('nextBtn').addEventListener('click', () => {
        numberOfClicks++;
        console.log("Next button clicked " + numberOfClicks + " times.");

        const flipThePageContents = document.createElement('div');
        const flipThePageElement = document.getElementById('flipThePage');

        const flipThePageProgressBar = document.createElement('div');
        const flipThePageProgressElement = document.getElementById('progressBar');
        flipThePageProgressBar.classList.add('flex', 'justify-between', 'align-bottom');

        switch (numberOfClicks) {
            case 1:
                flipThePageContents.innerHTML = `     
                Not sure what to <br>
                make with the ingredients <br> 
                in your fridge? <br>
                <br>
                ReciPT is here to help
            `;
                flipThePageProgressBar.innerHTML = `
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#9A9BB1">
            <path d="M160-446.67v-66.66h640v66.66H160Z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#779300">
            <path d="M160-446.67v-66.66h640v66.66H160Z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#9A9BB1">
            <path d="M160-446.67v-66.66h640v66.66H160Z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#9A9BB1">
            <path d="M160-446.67v-66.66h640v66.66H160Z" />
        </svg>
                `;
                break;

            case 2:
                flipThePageContents.innerHTML = `     
                Are you bad <br>
                at cooking?<br> 
                <br>
                ReciPT is here to help
       
            `;
                flipThePageProgressBar.innerHTML = `
                <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#9A9BB1">
            <path d="M160-446.67v-66.66h640v66.66H160Z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#9A9BB1">
            <path d="M160-446.67v-66.66h640v66.66H160Z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#779300">
            <path d="M160-446.67v-66.66h640v66.66H160Z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#9A9BB1">
            <path d="M160-446.67v-66.66h640v66.66H160Z" />
        </svg>
        `;
                break;

            case 3:
                flipThePageContents.innerHTML = `     
                Tired of wasting <br>
                precious food? <br>
                <br>
                ReciPT is here to help
            `;
                flipThePageProgressBar.innerHTML = `
                <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#9A9BB1">
            <path d="M160-446.67v-66.66h640v66.66H160Z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#9A9BB1">
            <path d="M160-446.67v-66.66h640v66.66H160Z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#9A9BB1">
            <path d="M160-446.67v-66.66h640v66.66H160Z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#779300">
            <path d="M160-446.67v-66.66h640v66.66H160Z" />
        </svg>
                `;
                break;
            case 4:
                window.location.href = '/signup';
                break;
        }

        flipThePageElement.innerHTML = '';
        flipThePageElement.appendChild(flipThePageContents);

        flipThePageProgressElement.innerHTML = '';
        flipThePageProgressElement.appendChild(flipThePageProgressBar);
    });
</script>
<!-- End of landing.ejs -->