<%- include("templates/htmlDocHeader") %>
<%- include("templates/header") %>

<div class="p-4 m-10 rounded-3xl bg-white">
    <div class="p-2 m-2 text-left text-lg text-buttongreen">
        <button id="chatlogHistoryEditButton"> Edit </button>
    </div>
    <div class="">
        <p class="text-left text-4xl p-2 m-2 font-bold"> Username's <br> My <br> Ingredients </p>
    </div>

    <div class="flex justify-center p-10">
        <button class="p-2 w-full m-10 rounded-full bg-gray-400 text-white" id="myCookbookButton">
            My Cookbook </button>
    </div>
    <div class="flex justify-center p-10">
        <button class="p-2 w-full m-10 rounded-full bg-buttongreen text-white" id="myRecipiesButton">
            My Recipies </button>
    </div>
</div>

<%- include("templates/footer") %>