<%- include("templates/htmlDocHeader") %>
    <%- include("templates/header") %>

        <div class="p-4 m-10 rounded-3xl bg-white">
            <div class="p-2 m-2 text-left text-lg text-buttongreen">
                <button id="chatlogHistoryEditButton"> Edit </button>
            </div>
            <div class="text-left text-4xl p-2 m-2 font-bold"> My <br>Kitchen </div>

            <div class="flex justify-center">
                <a href="/cookbook">
                    <button class="px-3 m-2 rounded-full bg-buttongreen text-white" id="myCookbookButton">
                        My Cookbook </button>
                </a>
                <a href="/myIngredients">
                    <button class="px-3 m-2 rounded-full bg-buttongreen text-white" id="myIngredientsButton"> My
                        Ingredients
                    </button>
                </a>
            </div>

            <div class="flex flex-col" id="chatlogHistoryList">
                <div class="p-4 m-1 rounded-3xl bg-gray-400 bg-opacity-90">
                    <p> img </p>
                    <p> list 1 </p>
                    <p> date </p>
                </div>
                <div class="p-4 m-1 rounded-3xl bg-buttongreen bg-opacity-90">
                    <p> img </p>
                    <p> list 2 </p>
                    <p> date </p>
                </div>
                <div class="p-4 m-1 rounded-3xl bg-gray-400 bg-opacity-90">
                    <p> img </p>
                    <p> list 3 </p>
                    <p> date </p>
                </div>
                <div class="p-4 m-1 rounded-3xl bg-buttongreen bg-opacity-90">
                    <p> img </p>
                    <p> list 4 </p>
                    <p> date </p>
                </div>
            </div>


        </div>
        <%- include("templates/footer") %>