<%- include("templates/htmlDocHeader") %>
<%- include("templates/header") %>
<main class="flex flex-col items-center justify-center h-screen">

    <div class="text-left text-3xl p-2 m-2 font-bold"> My <br>Kitchen </div>

    <div class="flex justify-center">
        <a href="/cookbook">
            <button class="p-3 m-2 w-full rounded-full bg-buttongreen text-white" id="myCookbookButton">
                My Cookbook </button>
        </a>
    </div>
    <div class="flex justify-center">
        <a href="/myIngredients">
            <button class="p-3 m-2 w-full rounded-full bg-buttongreen text-white" id="myIngredientsButton">
                My
                Ingredients
            </button>
        </a>

    </div>
    <%- include("templates/footer") %>