<%- include("templates/htmlDocHeader") %>
<%- include("templates/header") %>
<main class="flex flex-col justify-center h-screen">

    <div>
        <p class="flex text-left text-3xl px-20 m-4 font-bold">My <br>Kitchen</p>

        <div class="flex justify-center">
            <a href="/cookbook">
                <button class="px-14 m-2 rounded-full bg-buttongreen text-white text-lg" id="myCookbookButton">
                    My Cookbook </button>
            </a>
        </div>
        <div class="flex justify-center">
            <a href="/myIngredients">
                <button class="px-14 m-2 rounded-full bg-buttongreen text-white text-lg" id="myIngredientsButton">
                    My
                    Ingredients
                </button>
            </a>
        </div>
    </div>
</main>
<%- include("templates/footer") %>