<%- include("templates/htmlDocHeader") %>
    <%- include("templates/header") %>
        <form class="w-full max-w-xs" action="/resetPassword/<%=token%>" method="post">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="email">New Password</label>
                <input id="password" name="password" type="password" placeholder="password"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <div class="flex items-center justify-center">
                <button
                    class="bg-gray-400 hover:bg-gray-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="submit">
                    Reset password
                </button>
        </form>
        <%- include("templates/footer") %>