<%- include("templates/htmlDocHeader") %>
<%- include("templates/header") %>
<main class="flex flex-col justify-center h-screen" style="max-height: 75vh;">

    <div>
        <!-- Button to navigate to the recipes page -->
        <div class="flex justify-center">
            <a href="/recipes">
                <button class="px-3 m-2 rounded-full bg-buttongreen text-white" id="myRecipeButton">
                    My Recipes </button>
            </a>
        </div>
        <!-- Button to navigate to the ingredients page -->
        <div class="flex justify-center">
            <a href="/myIngredients">
                <button class="px-3 m-2 rounded-full bg-buttongreen text-white" id="myIngredientsButton">
                    My Ingredients
                </button>
            </a>
        </div>
    </div>
</main>
<%- include("templates/footer") %>