<!-- Contains the html document header with the start of the body tag -->
<%- include("templates/htmlDocHeader") %>

<!-- Top navbar -->
<%- include("templates/header") %>

<!-- Background Image -->

<body class="font-Poppins" style="background-image: url(public/background8.png); opacity: 70%;">
</body>

<!-- Main box -->
<div class="p-10 m-10 rounded-lg bg-gray-100"> Your content goes here</div>

<!-- Bottom navbar with end of body tag -->
<%- include("templates/footer") %>