<!-- Code ends here -->
<!-- Footer -->
<footer class="p-4 m-2 bg-whie bottom-0 w-full shadow-inner rounded-full">
    <nav class="flex justify-around">
        <a href="/" class="flex flex-col items-center">
            <span class="material-icons">message</span>
        </a>
        <a href="/camera" class="flex flex-col items-center">
            <span class="material-icons">camera_alt</span>
        </a>
        <a href="/favorites" class="flex flex-col items-center">
            <span class="material-icons">star</span>
        </a>
    </nav>
</footer>
</body>

</html>