
<header class="p-2 m-4 bg-white flex justify-between relative shadow-md rounded-full">
    <div class="flex flex-row justify-center items-center">
        <a href="./" class="flex items-center text-lg font-bold text-white hover:text-white-300 px-3">
            <img src="/recipt_logo.png" alt="ReciPT Logo" class="w-100 h-10">
        </a>
        <div>ReciPT</div>
    </div>

    <button class="menu-btn" id="menu-btn">
        <span class="material-icons">menu</span>
    </button>
    <div id="dropdown-menu" class="hidden absolute right-4 top-12 bg-white shadow-md rounded w-48">
        <% if(session.loggedin) { %>
            <a href="/profile" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Profile</a>
            <a href="/logOut" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Log Out</a>
        <% } else { %>
            <a href="/signup" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Sign Up</a>
            <a href="/login" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Log In</a>
        <% } %>

    </div>
</header>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        const menuBtn = document.getElementById('menu-btn');
        const dropdownMenu = document.getElementById('dropdown-menu');

        menuBtn.addEventListener('click', () => {
            dropdownMenu.classList.toggle('hidden');
        });

        // Close the dropdown if the user clicks outside of it
        window.addEventListener('click', (event) => {
            if (!dropdownMenu.contains(event.target) && !menuBtn.contains(event.target)) {
                dropdownMenu.classList.add('hidden');
            }
        });
    });
</script>
<!-- End of header -->
<!-- Code starts here -->